<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/css/materialize.min.css">
    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/js/materialize.min.js"></script>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="../static/custom.css">
  </head>
  <body>
    <nav>
      <div class="nav-wrapper light-blue">
        <a href="#" class="brand-logo" style="font-size: 16pt;"><i class="material-icons white-text">invert_colors</i>HydrationStation</a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
          <li><a href="sass.html">About</a></li>
          <li><a href="badges.html">Contact Me</a></li>
        </ul>
      </div>
    </nav>

    <main class="no-padding">
      <div class="section white">
        <div class="container">
          Test
        </div>
      </div>
    </main>




    <div class="container">
      <div class="page-header">
        <p class="lead">Press the button to get started</p>
      </div>
      {% with messages = get_flashed_messages() %}
        {% if messages %}
          {% for message in messages %}
            <div class="alert alert-danger" role="alert">
              <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                {{ message }}
            </div>
          {% endfor %}
        {% endif %}
      {% endwith %}

      {% if not reports %}
        <a href="{{ authorize_url }}" class="btn btn-default">Connect with genome by clicking the button</a>
      {% else %}
      <table class="table">
        <caption>Genome</caption>
        <thead>
          <tr>
            <th>Name</th>
            <th>Genetic insights</th>
          </tr>
        </thead>
        <tbody>
          {% for report in reports %}
          <tr>
            <th scope="row">{{ report.phenotype.display_name }}</th>
            <td>{{ report.summary.text }}</td>
            <td>{{ report.summary.score }}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
      <div id="wrapper">
      </div>
      {% endif %}

    </div>
    <script src="http://d3js.org/d3.v3.min.js" charset="utf-8"></script>
    <script src="../static/drawCharts.js"></script>
  </body>
</html>