<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <!-- Custom css stylesheet -->
    <link rel="stylesheet" href="../static/custom.css">
  </head>
  <body>
    <div class="container">
      <div class="page-header">
        <p class="lead">Press the button to get started</p>
      </div>
      {% with messages = get_flashed_messages() %}
        {% if messages %}
          {% for message in messages %}
            <div class="alert alert-danger" role="alert">
              <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                {{ message }}
            </div>
          {% endfor %}
        {% endif %}
      {% endwith %}

      {% if not reports %}
        <a href="{{ authorize_url }}" class="btn btn-default">Connect with genome by clicking the button</a>
      {% else %}
      <table class="table">
        <caption>Genome</caption>
        <thead>
          <tr>
            <th>Name</th>
            <th>Genetic insights</th>
          </tr>
        </thead>
        <tbody>
          {% for report in reports %}
          <tr>
            <th scope="row">{{ report.phenotype.display_name }}</th>
            <td>{{ report.summary.text }}</td>
            <td>{{ report.summary.score }}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
      <div id="wrapper">
      </div>
      {% endif %}

    </div>
    <script src="http://d3js.org/d3.v3.min.js" charset="utf-8"></script>
    <script src="../static/drawCharts.js"></script>
  </body>
</html>