<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/css/materialize.min.css">
    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/js/materialize.min.js"></script>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="../static/custom.css">
  </head>
  <body class="blue lighten-4">
    <nav>
      <div class="nav-wrapper light-blue darken-4">
        <a href="#" class="brand-logo" style="font-size: 16pt;"><i class="material-icons white-text">invert_colors</i>HydrationStation</a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
          <li><a href="sass.html">About</a></li>
          <li><a href="badges.html">Contact Me</a></li>
        </ul>
      </div>
    </nav>

    <div class="section light-blue darken-1 no-pad-bot z-depth-1 start-splash-section">
        <div class="container start-splash-container">
          <div class="row">
          <div class="col s12 l12">
            <div class="white-text start-splash-header-content center">
              <span class="start-splash-header-text white-text">Hydration App</span>
              <h3 class="white-text start-header-paragraph-text" style="font-weight: 200">
                Help track your caffeine, water, and alcohol in take personalized to your genetic data. 
              <p></p>
              <a href="{{ authorize_url }}" class="btn btn-default indigo darken-2"><i class="medium material-icons white-text" style="padding-bottom: 20px;margin-right: 20px;margin-bottom: 20px;">face</i>Connect with genome by clicking here</a>
            </h3></div>
          </div>
          </div>
        </div>
      </div>

    <div class="container">
      
      {% with messages = get_flashed_messages() %}
        {% if messages %}
          {% for message in messages %}
            <div class="alert alert-danger" role="alert">
              <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                {{ message }}
            </div>
          {% endfor %}
        {% endif %}
      {% endwith %}

      {% if not reports %}
        <p class="center"><Welcome click the button above to get started!</p>
      {% else %}
      <table class="table">
        <caption>Genome</caption>
        <thead>
          <tr>
            <th>Name</th>
            <th>Genetic insights</th>
          </tr>
        </thead>
        <tbody id="user_table">
          {% for report in reports %}
          <tr>
            <th scope="row">{{ report.phenotype.display_name }}</th>
            <td>{{ report.summary.text }}</td>
            <td>{{ report.summary.score }}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
      <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
      <div id="chart_div"></div>
          
      <script src="http://d3js.org/d3.v3.min.js" charset="utf-8"></script>
      <script src="../static/drawCharts.js"></script>

      <script type="text/javascript">
        google.charts.load('current', {packages: ['corechart', 'bar']});
        google.charts.setOnLoadCallback(drawMultSeries);
        
        function drawMultSeries() {
          var x = document.getElementById("user_table");
          console.log(x);
          var userData = [
            ['Attribute', 'Score'],
          ];


          var data = google.visualization.arrayToDataTable([
            ['City', '2010 Population', '2000 Population'],
            ['New York City, NY', 8175000, 8008000],
            ['Los Angeles, CA', 3792000, 3694000],
            ['Chicago, IL', 2695000, 2896000],
            ['Houston, TX', 2099000, 1953000],
            ['Philadelphia, PA', 1526000, 1517000]
          ]);

          var options = {
            title: 'Population of Largest U.S. Cities',
            chartArea: {width: '50%'},
            hAxis: {
              title: 'Total Population',
              minValue: 0
            },
            vAxis: {
              title: 'City'
            }
          };

          var chart = new google.visualization.BarChart(document.getElementById('chart_div'));
          chart.draw(data, options);
        }
      </script>

      <button class="btn waves-effect waves-light center" type="submit" name="action">Log Liquids
        <i class="material-icons white-text">invert_colors</i>
      </button>
            
      {% endif %}

    </div>
    
  </body>
</html>